/*-----------------------------------------------------------------------------------------
    GENERAL
 -----------------------------------------------------------------------------------------*/
body{
    margin: 8vw;
    font-family: Segoe UI;
}
/*----------------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------------
    INTRO SECTION
 -----------------------------------------------------------------------------------------*/
.intro {
    margin-bottom: 40px;
}
header > h1 {
    text-align: center;
    font-size: 10vw;
    font-family: Century Gothic;
    color: #32322e;
    background: url("Element.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-bottom: 0;
}

header > h2 {
    margin-top: 5vh;
    text-align: center;
    font-size: 4vw;
}

.summary {
    text-align: center;
}

/*----------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------
    MAIN SECTION
 -----------------------------------------------------------------------------------------*/

@media only screen and (min-width: 992px) {
    .main {
        display: grid;
        grid-template-columns: repeat(4,25%);
    }

    .explanation {
        grid-column: 1/span 2;
        grid-row: 1;
    }

    .participation {
        grid-column: 3/span 2;
        grid-row: 2;
    }

    .participation:before {
        background: url("Element.png");
        grid-column: 1/span 2;
        grid-row: 2;
        content: "";
    }

    .benefits {
        grid-column: 1/span 2;
        grid-row: 3;
    }

    .requirements {
        grid-column: 3/span 2;
        grid-row: 4;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        position: fixed;
        right: 0;
        opacity: 0.6;
        margin-right: 16px;
    }


    footer > * {
        margin-top: 10px;
        border-radius: 50%;
        height: 60px;
        width: 60px;
        background-color: #ADDCE9;
        color: white;
        text-align: center;
        vertical-align: middle;
        line-height: 60px;
    }
}

/*----------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------
    SIDEBAR SECTION
 -----------------------------------------------------------------------------------------*/
    



/*----------------------------------------------------------------------------------------*/
