/*-----------------------------------------------------------------------------------------
    GENERAL
 -----------------------------------------------------------------------------------------*/
body{
    margin: 10vw;
    font-family: Segoe UI;
}
/*----------------------------------------------------------------------------------------*/

element{
    --accent-color: #ADDCE9;
}

/*-----------------------------------------------------------------------------------------
    INTRO SECTION
 -----------------------------------------------------------------------------------------*/
.intro {
    margin-bottom: 40px;
}
header > h1 {
    text-align: center;
    font-size: 10vw;
    font-family: Century Gothic;
    color: #32322e;
    background: url("Element.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-bottom: 0;
}

header > h2 {
    margin-top: 5vh;
    text-align: center;
    font-size: 4vw;
}

.summary {
    text-align: center;
}

.preamble{
    background-color: rgba(173, 220, 233, 60%);
    margin-left: -10vw;
    margin-right: -10vw;
}

.preamble > * {
    margin-left: 10vw;
    margin-right: 10vw;
}

.preamble > h3 {
    padding-top: 50px;
}
.preamble > p:last-child{
    padding-bottom: 50px;
}

/*----------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------
    MAIN SECTION
 -----------------------------------------------------------------------------------------*/

@media only screen and (min-width: 992px) {
    .main {
        display: grid;
        grid-template-columns: repeat(4,25%);
    }

    .explanation {
        grid-column: 1/span 2;
        grid-row: 1;
    }

    .participation {
        grid-column: 3/span 2;
        grid-row: 2;
    }

    .participation:before {
        background: url("Element.png");
        grid-column: 1/span 2;
        grid-row: 2;
        content: "";
    }

    .benefits {
        grid-column: 1/span 2;
        grid-row: 3;
    }

    .requirements {
        grid-column: 3/span 2;
        grid-row: 4;
    }
    footer {
        display: flex;
        flex-direction: column;

        position: fixed;
        top: 40%;
        right: 0;
        margin-right: 16px;

        opacity: 0.6;
    }

    footer > * {
        margin-top: 10px;
        border-radius: 50%;
        border: 2px solid white;
        height: 60px;
        width: 60px;
        background-color: #ADDCE9;
        color: white;
        text-align: center;
        vertical-align: middle;
        line-height: 60px;
    }
}

/*----------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------
    SIDEBAR SECTION
 -----------------------------------------------------------------------------------------*/
    



/*----------------------------------------------------------------------------------------*/
